!Build/
*.bak
*.bbproj
*.bs
*.o
*.old
*.rej
*.tar
*.tar.gz
*.tgz
*.yml
*.zip
*gz
!.github/workflows/*.yml
.DS_Store
.last_cover_stats
.prove
/.build/
/MANIFEST.bak
/META.*
/MYMETA.*
/Makefile
/Makefile.old
/blib/
/pm_to_blib
Build
Build.bat
MYMETA*
Mac-*
Makefile
_build/
blib
cover_db/
inc/
nytprof.out
pm_to_blib
*.icould
